#!/usr/bin/env python
# -*- coding: utf-8 -*-

misp_url = 'https://<your_misp_url>/'
misp_key = '<your_misp_API_key>' # The MISP auth key can be found on the MISP web interface under the automation section
